.moving-topbar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #6E96BB;
    color: whitesmoke;
}

.main-name{
    font-size: large;
    padding-left: 20 px;
}

.widget-list{
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 10px;
}

.widget-item{
    color: #f5a0d3;
    margin: 2rem;
    padding: 1rem;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}